<div id="slideshow">
  {% for gallery in site.galleries %}
    {% assign folder = gallery.path | replace: '_galleries/', '' | replace: '.html', '' %}
    {% assign smallp = folder | append: '/small' %}
    {% assign path   = '/images/galleries/' | append: folder %}
    {% for image in site.static_files %}
      {% if image.path contains smallp %}
        <div class="slide" data-gallery="{{ folder }}" data-title="{{ gallery.title }}" data-src="{{ path }}/{{ image.name }}" data-display="{{ path }}/small/{{ image.name }}"></div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
